
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

*{
    transition: 0.3s;
    margin: 0 auto;
    font-family: Inter;
}
.key_word{
    display: none;
}
.autorization_div{
    width: 621px;
    height: 419px;  
    background: #8294C4;
    border-radius: 10px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
}
.autorization_title{
    padding-top: 56px;
    font-weight: 400;
    font-size: 32px;
    color: #ffff;
}
.email_autorization{
    margin-top: 35px;
    background: #D9D9D9;
    border-radius: 10px;
    width: 397px;
    height: 43px;
    border: none;
    font-size: 22px;
}
.password_autorization{
    margin-top: 35px;
    background: #D9D9D9;
    border-radius: 10px;
    width: 397px;
    height: 43px;
    border: none;
    font-size: 22px;
}
.autorization_btn{
    margin-top: 35px;
    background: #ACB1D6;
    border-radius: 10px;
    width: 216px;
    height: 43px;
    border: none;
    font-weight: 400;
    font-size: 28px; 
    cursor: pointer;   
}
.autorization_btn:hover{
    transform: scale(1.05);
    background-color: #FFEAD2;
}
.autorization_btn:active{
    background-color: #d3bea6;
}
.registr_ssilka{
    margin-top: 13px;
    background: #D9D9D9;
    border-radius: 10px;
    width: 216px;
    height: 43px;
    border: none;
    font-size: 28px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}
.registr_ssilka:hover{
    transform: scale(1.05);
    background-color: #FFEAD2;
}
.registr_ssilka:active{
    background-color: #d3bea6;
}


/* registration */

.registration_div{
    width: 621px;
    height: 578px;
    background: #8294C4;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.registration_mail{
    width: 397px;
    height: 43px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 14px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.registration_name{
    width: 397px;
    height: 43px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.nikname_registration{
    width: 397px;
    height: 43px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.password_registraation{
    width: 397px;
    height: 43px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.registration_btn{
    width: 397px;
    height: 43px;
    background: #ACB1D6;
    border-radius: 10px;
    margin-top: 28px;
    border: none;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}
.registration_btn:hover{
    transform: scale(1.05);
    background-color: #FFEAD2;
}
.registration_btn:active{
    background-color: #d3bea6;
}
.input_ssilka{
    width: 216px;
    height: 43px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 28px;
    border: none;
    font-weight: 400;
    font-size: 32px;
    background: #ACB1D6;
    border-radius: 10px;
    color: black;
    left: 600px;
}
.input_ssilka:hover{
    transform: scale(1.05);
    background-color: #FFEAD2;
}
.input_ssilka:active{
    background-color: #d3bea6;
}
.bed_svg{
    position: absolute;
    width: 512px;
    height: 512px;
    left: 20px;
    top: 251px;
}
.drink_svg{
    position: absolute;
left: 68.96%;
right: 4.38%;
top: 23.24%;
bottom: 29.35%;
}
.freelance_svg{
    position: absolute;
width: 564px;
height: 155px;
left: 674px;
top: 20px;
}



/*header*/
header{
    background: #8294C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1920px;
    width: 100%;
    height: 143px;
    display: inline-flex;
}


header a{
    text-decoration: none;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #ffff;
    margin-right: 59px;
}
header a:hover{
    color: #FFEAD2;
}
header ul{
    list-style: none;
    padding-top: 42px;
    margin-left: 120px;
}
.toolbar{
    width: 120px;
    height: 120px;
    background: url(img/account.svg);
    margin-right: 28px;
    margin-top: 11px;
    border: none;
    cursor: pointer;
}

.toolbar_drop{
    position: absolute;
    width: 242px;
    height: 122px;
    left: 1661px;
    top: 143px;
    display: flex;
    flex-direction: column;
    background: #8294C4;
    border-radius: 0px 0px 10px 10px;
    display: none; /* Скрываем блок изначально */
    position: absolute;
}

.acount_dropdown{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    color: #FFFFFF;
    text-decoration: none;
    }
    .acount_dropdown:hover{
        color: #d3bea6;
    }
    .exit_btn{
        margin-top: 18px;
    width: 129px;
    height: 44px;
    background: #FF0000;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    }
    .exit_btn:hover{
        transform: scale(1.05);
    }
/*main*/

.content_main{
    display: flex;
    flex-direction: column;
}
.take_order{
    margin-top: 400px;
    background-color: #ACB1D6;
    border-radius: 10px;
    width: 414px;
    height: 123px;
    font-weight: 400;
    font-size: 32px;
    line-height: 120px;
    color: #000000;
    text-decoration: none;
}
.take_order:hover{
    transform: scale(1.05);
}

.make_order{
    margin-top: 17px;
    width: 414px;
    height: 123px;
    background: #FFEAD2;
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 120px;
    color: #000000;
    text-decoration: none;
}
.make_order:hover{
    transform: scale(1.05);
}

/*make order*/
.content_make_order{
    max-width: 1500px;
}
.title_make_order{
    margin-top: 35px;
    width: 1467px;
    height: 81px;
    background: #DBDFEA;
    border-radius: 10px;
}
.title_make_order h3{
    padding-top: 21px;    
}
.content_make_order h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.name_order_title{
    margin-top: 12px;
}
.name_order_input{
    margin-top: 10px;
    width: 1467px;
    height: 97px;   
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 32px;
}
.description_order{
    margin-top: 12px;
}
.content_make_order textarea{
    width: 1467px;
    height: 257px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 32px;
    
}
.div_price_order{
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 1500px;
}
.price_make_order{
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 10px;
    font-size: 22px;
    height: 30px;
}
.submit_make_order{
    margin-top: 15px;
    width: 572px;
    height: 94px;
    background: #FFEAD2;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    cursor: pointer;
}
.submit_make_order:hover{
    transform: scale(1.05);
}
.date_last_order{
    border-radius: 10px;
    font-size: 22px;
}
.div_price_order-price{
    display: inline-flex;
    margin: 0px;
    width: 780px;
    margin-right: 10px;
}
.div_price_order-price h3{
    font-size: 20px;

}
.div_price_order-date h3{
    font-size: 20px;

}

/*all_order*/
.title_all_order{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    justify-content: center;
    display: flex;

}
.div_order{
    width: 1467px;
    min-height: 243px;
    background: #8294C4;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.display_flex{
    display: flex;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.description_order{
    width: 1080px;
    text-align: left;
    margin-left: 16px;
}
.title_order{
    font-weight: 700;
    font-size: 40px;font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-left: 0;
    color: #FFFFFF;
    margin-top: 30px;
}
.price_btn_order{
    width: 270px;
    justify-content: center;
}
.description-order{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}
.created_order{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-left: 0px;
}
.price_order{
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.concret_order{
    width: 263px;
    height: 76px;
    background: #FFEAD2;
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.concret_order:hover{
    transform: scale(1.05);
}

/*concret_order*/
.a_hirephp{
    font-size: 22px;
}
.content_concret_order{
    max-width: 1100px;
    min-height: 200px;
}
.title_concret_order{
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #DBDFEA;
    border-radius: 10px;
    margin-top: 53px;
    height: 60px;
    padding-top: 16px;
}
.title_concret_order h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;  
    
}
.price_order-order{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-top: 15px;
}
.order_info{
    margin-top: 34px;
}
.order_info h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;

}
.order_info_span{
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    color: #868181;
}
.name_customer{
    color: #868181;
}
.crated_date_order{
    color: #868181;
    margin-left: 40px;
}
.div_description_order-order h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 39px;
    color: #000000;
    margin-top: 24px;
    
}
.take_order_btn{
    width: 250px;
    height: 76px;
    background: #ACB1D6;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-top: 100px;
}
.take_order_btn:hover{
    background-color: #d3bea6;
    color: #FFFFFF;
}
.take_order_btn:active{
    transform: scale(1.1);
}

/*profile*/
.content_profile{
    max-width: 1250px;
    margin-top: 25px;
    
}
.avatarka-div{
    width: 273px;
    margin-left: 0px;
    display: inline-flex;
}
.name_profile{
    margin-left: 45px;
    margin-top: 125px;
}
.makes_order-profile-title{
    margin-top: 20px;
    width: 1015px;
    height: 81px;
    background: #DBDFEA;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;            
    align-items: center;
}
.makes_order-profile-title h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-align: center;
}
.makes_order-profile-content{
    width: 1015px;
    min-height: 90px;
    background: #FFEAD2;
    border-radius: 0px 0px 10px 10px;
}
.margin50{
    margin-top: 50px;
}
.completed-job{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.job-title, .job-rating, .job-link{
    margin-top: 15px;
}

/*hair*/
.content_hire{
    max-width: 1467px;
}
.hire_item{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.nickname{
    font-size: 25px;
    margin-left: 1px;
    margin-top: 15px;
}
.hire_btn{
    margin-right: 1px;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    background: #ACB1D6;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
}
.hire_btn:hover{
    background-color: #d3bea6;
    color: #FFFFFF;
}
.hire_btn:active{
    background-color: #948574;
}
.more_hire{
    margin-top: 20px;
}